.btn {
  width: 5vw;
  height: 5vh;
  line-height: 5vh;
  border: 1px solid #dcdfe6;
  border-radius: 2.5vh;
}
.btn-green {
  color: #fff;
  background-color: #67c23a;
}
.btn-blue {
  color: #fff;
  background-color: #409eff;
}
.btn-grey {
  color: #fff;
  background-color: #909399;
}
.btn-blue:hover {
  background-color: #66b1ff;
}
.btn-blue:active {
  background-color: #3a8ee6;
}
.btn-green:hover {
  background-color: #85ce61;
}
.btn-green:active {
  background-color: #5daf34;
}
.btn-grey:hover {
  background-color: #a6a9ad;
}
.btn-grey:active {
  background-color: #82848a;
}